@import "/src/data/styles.css";

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #383636;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(0, 0, 0);
}

.page-content {
	position: relative;
	width: 100%;
	padding: 15px;
	margin: 0;
	overflow-x: hidden;
}

.page-content::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.page-content:after {
	right: 0;
	z-index: 1;
}

.content-wrapper {
	max-width: 1000px;
	margin: 0 auto;
	animation: fadeIn 0.6s ease-out 0.1s both;
}

.title {
	color: var(--primary-color);
	font-family: var(--secondary-font);
	font-size: 45px;
	font-weight: 700;
	width: 70%;
	animation: slideInFromLeft 0.8s ease-out;
	transition: all 0.3s ease;
}

.subtitle {
	padding-top: 10px;
	animation: slideInFromLeft 1s ease-out 0.2s both;
	transition: all 0.3s ease;
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 28px;
	width: 70%;
	margin-top: 25px;
}

.page-footer {
	position: block;
}

.page-footer::before {
	content: "";
	position: absolute;
}

.page-footer::after {
	right: 0;
}

@media (max-width: 1024px) {
	.page-content {
		padding-left: 50px;
		padding-right: 50px;
	}

	.content-wrapper {
		padding: 0 25px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.page-content {
		padding: 15px 25px;
	}

	.content-wrapper {
		padding: 0 15px;
		margin: 0 auto;
	}
}

@media (max-width: 600px) {
	.content-wrapper {
		padding: 0 15px;
		margin: 0 auto;
	}
}

/* Global Animations */
@keyframes slideInFromLeft {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}